.pop-comments{
    position:absolute;
    width: 50%;
    height: 50%;
    overflow-y:scroll;
    text-align: justify;
    background-color: white;
    border: 3px solid chocolate;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.close-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: chocolate;
    color: white;
    position: sticky;
    top: -0.5%;
    margin-top: 0px;
    height: 15%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.list-posts{
    margin-top: 2rem;
    height: 80%;
    margin-right: 1rem;
    
}

.list-posts details{
    margin-top: 1rem;
    
}

.list-posts details:nth-child(even){
    border-bottom: 1px solid white;
    color: black;
    font-weight: bold;
}

.list-posts details:nth-child(odd){
    border-bottom: 1px solid white;
    color: chocolate;
    font-weight: bolder;
}

.btn-posts{
    background-color:chocolate;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

@media only screen and (max-width:1044px){
    .pop-comments{
        width: 60%;
        padding-right: 1rem;
        font-size: 0.8rem;
    }
    .btn-posts{
        width: 15px;
        margin-left: 1rem;
        
    }
    .close-btn{
        font-size: 0.8rem;
        height: auto;
    }
}
