#aside-left{
    border-right: 1px solid gainsboro;
    width: 18%;
    height: auto;
  }
  
.subtype, .type{
    cursor: pointer;
    text-overflow: ellipsis;
}
#btn-show-topics{
    background-color: chocolate;
    color: white;
    margin-top: 2rem;
    margin-left: 2.5rem;
    border: none;
}
#main-topics{
    padding-left:2.5rem;
}
legend{
    font-weight: bold;
    margin-bottom: 1rem;
}
.topic-category{
    margin-bottom: 1rem;
}
.topic-category ul{
    padding-left: 0px;
    
}
#title-nav-left{
    margin-left: 2.5rem;
}
#list-subtype{
    list-style: none;
}
#list-complements{
    list-style: none;
}
.subtype:hover{
    color: chocolate;
}
.type:hover{
    color: chocolate;
}
@media only screen and (max-width:1044px){
    #aside-left{
        width: 35%;
    }
}
@media only screen and (max-width:756px){
    #aside-left{
        font-size: 0.9rem;
        width: auto;
    }
    #main-topics{
        padding-left: 1rem;
    }
    #list-complements{
        padding-left: 1rem;
    }
    .subtype{
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width:540px){
    #aside-left{
        display: none;
    }
}