#slides{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.slide{
    border-radius: 10px;
    width: 15rem;
    height: 15rem;
    display: block;
    background-color:chocolate;
    margin-left: 0.5rem;

}

.slider-btn-right{
    width: 3rem;
    height: 3rem;
    background-color: white;
    font-size: larger;
    color: chocolate;
    transform: rotate(45deg);
    border-left: none;
    border-bottom: none;
    border-top: 1rem solid chocolate;
    border-right: 1rem solid black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor:pointer;
    
    
}
.slider-btn-left{
    width: 3rem;
    height: 3rem;
    background-color: white;
    font-size: larger;
    color: chocolate;
    transform: rotate(-135deg);
    border-left: none;
    border-bottom: none;
    border-top: 1rem solid chocolate;
    border-right: 1rem solid black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor:pointer;
}

video{
    border-radius: 10px;
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit:cover;
}
.video-data{
    position: relative;
    margin-top: -50%;
    font-size: 15px;
    width: 100%;
    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    justify-items: center;
    text-align: center;
}
a{
    text-decoration: none;
}

.slide-title{
    font-weight: bold;
    font-size: 1rem;
    text-overflow: ellipsis;
    width: 1rem;
}
.slide-subredit{
    text-decoration: underline;
}

@media only screen and (max-width:1046px){
    #slides{
        display: none;
    }
}