

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


main{
  display: flex;
  justify-content: space-between;
}

#aside-left{
  border-right: 1px solid gainsboro;
  width: 18%;
  height: auto;
}

#articles{
  width: 60%;
  height: auto;
  padding-left: 1rem;
}
#communities{
  border-left: 1px solid gainsboro;
  width: 20%;
  height: auto;
}